<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="captain.component.css">
  <!-- =====BOX ICONS===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Trident Chartering Services</h5>
      <small *ngIf="titleAction$ | async as title">{{ title }}</small>
    </div>

  </div>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link active ml-1" (click)="changeTitle('Anchorage')" data-toggle="tab" href="#users">
          <i class="fa fa-users"></i>
          Anchorage
        </a>
        <a class="nav-item nav-link mr-1 ml-1" *ngIf="areYouACaptain"  (click)="changeTitle('Yacht Profile')" data-toggle="tab" href="#yachtProfile">
          Yacht Profile
        </a>
        <a class="nav-item nav-link mr-1 ml-1" *ngIf="areYouACaptain" (click)="changeTitle('Log Book')" data-toggle="tab" href="#logBook">
          Log Book
        </a>
        <a class="nav-item nav-link mr-1 ml-1" *ngIf="areYouACaptain" (click)="changeTitle('Applications')" data-toggle="tab" href="#applications">
          Applications
        </a>
        <a class="nav-item nav-link  ml-1"  href="/passages">
          <i class="fa fa-ship"></i>
          Passages
        </a>
        <a class="nav-item nav-link move-right mr-3" (click)="changeTitle('Profile')" data-toggle="tab" href="#profile">
          Welcome, {{user.firstName}}
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>
  <main class="l-main">
    <!--===== HOME =====-->
    <section class="home bd-grid" id="home">
      <button *ngIf="!areYouACaptain" class="ml-1 btn btn-register" data-toggle="modal" data-target="#registrationModal">
        Register as Captain with Yacht
      </button>
      <!-- Registration Modal -->
      <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registrationModalLabel">Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Add form elements here to collect the information -->
              <form #registrationForm="ngForm" (ngSubmit)="onSubmitRegistration(registrationForm)">
                <!-- Captain Info -->
                <div class="form-group">
                  <label for="firstNameInput">First Name:</label>
                  <input type="text" class="form-control" id="firstNameInput" name="firstName" placeholder="Enter first name" [value]="user.firstName" disabled>
                </div>
                <div class="form-group">
                  <label for="lastNameInput">Last Name:</label>
                  <input type="text" class="form-control" id="lastNameInput" name="lastName" placeholder="Enter last name" [value]="user.lastName" disabled>
                </div>
                <div class="form-group">
                  <label for="emailInput">Email:</label>
                  <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter email" [value]="user.email" disabled>
                </div>
                <div class="form-group">
                  <label for="phoneInput">Phone Number:</label>
                  <input type="phone" class="form-control" id="phoneInput" name="phoneNumber" placeholder="Enter phone number" [(ngModel)]="phoneNumber" >
                </div>
                <!-- Yacht Info -->
                <div class="form-group">
                  <label for="yachtNameInput">Vessel Name:</label>
                  <input type="text" class="form-control" id="yachtNameInput" name="yachtName" placeholder="Enter yacht name" [(ngModel)]="yacht.name">
                </div>
                <div class="form-group">
                  <label for="yachtMmsiInput">MMSI:</label>
                  <input type="number" class="form-control" id="yachtMmsiInput" name="yachtMmsi" placeholder="Enter yacht MMSI" [(ngModel)]="yacht.mmsi">
                </div>
                <div class="form-group">
                  <label for="yachtPortInput">Current Port:</label>
                  <input type="text" class="form-control" id="yachtPortInput" name="yachtPort" placeholder="Enter yacht port" [(ngModel)]="yacht.port">
                </div>
                <div class="form-group">
                  <label for="yachtModelInput">Model:</label>
                  <input type="text" class="form-control" id="yachtModelInput" name="yachtModel" placeholder="Enter yacht model" [(ngModel)]="yacht.model">
                </div>
                <div class="form-group">
                  <label for="yachtMakeInput">Make:</label>
                  <input type="text" class="form-control" id="yachtMakeInput" name="yachtMake" placeholder="Enter yacht make" [(ngModel)]="yacht.make">
                </div>
                <div class="form-group">
                  <label for="yachtLengthInput">Length:</label>
                  <input type="text" class="form-control" id="yachtLengthInput" name="yachtLength" placeholder="Enter yacht Length" [(ngModel)]="yacht.length">
                </div>
                <div class="form-group">
                  <label for="yachtAvailableCabins">Available Cabins:</label>
                  <input type="text" class="form-control" id="yachtAvailableCabins" name="yachtCabins" placeholder="Number of bunks" [(ngModel)]="yacht.availableCabins">
                </div>
                <button type="submit" class="btn btn-primary" id="registration-save">Register</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- user profile -->
      <div *ngIf="isProfileSelected" class="tab-pane fade" id="profile">
        <div class="container">
          <div class="row flex-lg-nowrap">
            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="e-profile">
                        <div class="row">
                          <div class="col-12 col-sm-auto">
                            <div class="mx-auto" style="width: 120px;">
                              <div class="d-flex justify-content-center align-items-center rounded">
                                <img class="rounded" height="135" width="135" src="{{user.profileImageUrl}}" alt="">
                              </div>
                              <div *ngIf="fileStatus?.status==='progress'" class="progress mt-1">
                                <div class="progress-bar bg-info" role="progressbar"
                                     [style.width.%]="fileStatus.percentage" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100">{{fileStatus.percentage}}%</div>
                              </div>
                            </div>
                          </div>
                          <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                              <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.firstName!}} {{user.lastName}}</h4>
                              <p class="mb-0">{{user.username}}</p>
                              <div *ngIf="user.lastLoginDateDisplay !== null" class="text-muted"><small>Last login:
                                {{user.lastLoginDateDisplay | date:'medium'}}</small></div>
                              <div class="mt-2">
                                <button (click)="updateProfileImage()" class="btn btn-primary" type="button">
                                  <i class="fa fa-fw fa-camera"></i>
                                  <span>Change Photo</span>
                                </button>
                              </div>
                            </div>
                            <div class="text-center text-sm-right">
                              <div class="text-muted"><small>Joined {{user.joinDate | date:'mediumDate'}}</small></div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-content pt-3">
                          <div class="tab-pane active">
                            <form #profileUserForm="ngForm" class="form"
                                  novalidate>
                              <div class="row">
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" name="firstName" required [(ngModel)]="user.firstName"
                                               class="form-control" disabled>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" name="lastName" required [(ngModel)]="user.lastName"
                                               class="form-control" disabled>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username" required [(ngModel)]="user.username"
                                               class="form-control" disabled>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" name="email" required [(ngModel)]="user.email"
                                               class="form-control" disabled>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                  <div class="mb-2"><b>Account Settings</b></div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="custom-controls-stacked px-2">
                                        <div class="custom-control custom-checkbox">
                                          <input name="active" type="checkbox" [(ngModel)]="user.active" class="custom-control-input">
                                          <label class="custom-control-label">Active</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                          <input name="notLocked" type="checkbox"
                                                 [(ngModel)]="user.notLocked" class="custom-control-input">
                                          <label class="custom-control-label">Unlocked</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="px-xl-3">
                        <button (click)="onLogOut()" class="btn btn-block btn-secondary">
                          <span>Logout</span>
                          <i class="fas fa-sign-in-alt ml-1"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      Yacht Profile-->
      <div *ngIf="isYachtProfileSelected" class="tab-pane fade" id="yachtProfile">
        <div class="container">
          <div class="row flex-lg-nowrap">
            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <div class="card">
                    <div class="card-body">
<!--                      <h6 class="card-title font-weight-bold">Yacht</h6>-->
                      <div class="mx-auto" style="width: 120px;">
                        <div class="d-flex justify-content-center align-items-center rounded">
                          <img class="rounded" height="135" width="135" src="{{captain.yacht.yachtImageUrl}}" alt="">
                        </div>
                        <div *ngIf="fileStatus?.status==='progress'" class="progress mt-1">
                          <div class="progress-bar bg-info" role="progressbar"
                               [style.width.%]="fileStatus.percentage" aria-valuenow="0" aria-valuemin="0"
                               aria-valuemax="100">{{fileStatus.percentage}}%</div>
                        </div>
                        <div class="mt-2 ">
                          <button (click)="updateYachtImage()" class="btn btn-primary" type="button">
                            <i class="fa fa-fw fa-camera"></i>
                          </button>
                        </div>
                        <br>
                      </div>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                          <form #profileYachtForm="ngForm" (ngSubmit)="onUpdateCurrentYacht(profileYachtForm.value)" class="form" novalidate>
                            <div class="row">
                              <div class="col">
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Vessel Name</label>
                                      <input type="text" name="vesselName" required [(ngModel)]="yacht.name" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>MMSI</label>
                                      <input type="text" name="mmsi" required [(ngModel)]="yacht.mmsi" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Current Port</label>
                                      <input type="text" name="vesselPort" required [(ngModel)]="yacht.port" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Model</label>
                                      <input type="text" name="vesselModel" required [(ngModel)]="yacht.model" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Make</label>
                                      <input type="text" name="vesselMake" required [(ngModel)]="yacht.make" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Length</label>
                                      <input type="text" name="vesselLength" required [(ngModel)]="yacht.length" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label>Available Cabins</label>
                                      <input type="text" name="vesselCabins" required [(ngModel)]="yacht.availableCabins" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col d-flex justify-content-end">
                                    <button class="btn btn-primary" type="submit">
                                      <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                                      <span *ngIf="refreshing">Loading...</span>
                                      <span *ngIf="!refreshing">Save Changes</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--     Log Book Modal-->
      <div *ngIf="isLogBookModalSelected" class="tab-pane fade" id="logBook">
        <div class="container">
          <div class="row flex-lg-nowrap">
            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title font-weight-bold">Log Book</h6>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                          <table class="table table-hover">
                            <thead class="table-borderless">
                            <tr class="text-center">
                              <th>Title</th>
                              <th>Description</th>
                              <th>Departure Date</th>
                              <th>Departure Location</th>
                              <th>Destination</th>
                              <th>Status</th>
                              <th>Actions</th>
                            </tr>
                            </thead>
                            <!--Loop through all the passages-->
                            <tbody *ngFor="let selectedPassage of captainsPassages">
                            <tr class="text-center">
                              <td>{{selectedPassage?.title}}</td>
                              <td>{{selectedPassage?.description}}</td>
                              <td>{{selectedPassage?.departureDate}}</td>
                              <td>{{selectedPassage?.departureLocation}}</td>
                              <td>{{selectedPassage?.destination}}</td>
                              <td >
                                <span [hidden]="!selectedPassage?.active" class="badge badge-success">Active</span>
                                <span [hidden]="selectedPassage?.active" class="badge badge-danger">Inactive</span>
                              </td>
                              <td class="">
                                <div class="btn-group">
                                  <button (click)="onSelectPassage(selectedPassage)" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
                                  <button (click)="onOpenCompletePassageModal(selectedPassage)" class="btn btn-success"><i class="fa fa-check"></i></button>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                          <div class="text-right">
                            <button (click)="onOpenLogBookModal()" data-toggle="tab" class="btn btn-primary">Create Passage</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button [hidden]="true" type="button" id="openLogBookModal" data-toggle="modal" data-target="#passageModal">
      </button>

      <!-- modal edit passage -->
      <div class="modal draggable fade bd-example-modal-lg" id="viewPassageModal" tabindex="-1"
           role="dialog" aria-labelledby="passageModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Edit {{passage.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <form #passageForm="ngForm">
                  <div class="form-group">
                    <label for="passageTitle">Title</label>
                    <!--Two way binding-->
                    <input type="text" name="passageTitle" required
                           [(ngModel)]="passage.title" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <!--Two way binding-->
                    <input type="text" name="lastName" required
                           [(ngModel)]="passage.description" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="departureDate">Departure Date</label>
                    <!--Two way binding-->
                    <input type="text" name="departureDate" required
                           [(ngModel)]="passage.departureDate" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="departureLocation">Departure Location</label>
                    <!--Two way binding-->
                    <input type="text" name="departureLocation" required
                           [(ngModel)]="passage.departureLocation" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="destination">Destination</label>
                    <!--Two way binding-->
                    <input type="email" name="destination" required
                           [(ngModel)]="passage.destination" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="expectations">Expectations</label>
                    <!--Two way binding-->
                    <input type="email" name="expectations" required
                           [(ngModel)]="passage.expectations" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="expenses">Expenses</label>
                    <!--Two way binding-->
                    <input type="email" name="expenses" required
                           [(ngModel)]="passage.expenses" class="form-control">
                  </div>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input name="active" type="checkbox"  [(ngModel)]="passage.active"
                               class="form-check-input">
                        Active
                      </label>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditPassageModalButton">Close</button>
              <button type="button" (click)="onUpdatePassage()" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <button [hidden]="true" type="button" id="openPassageInfo" data-toggle="modal" data-target="#viewPassageModal">
      </button>

      <!-- modal complete passage -->
      <div class="modal draggable fade bd-example-modal-lg" id="completePassageModal" tabindex="-1"
           role="dialog" aria-labelledby="passageModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Passage Complete {{passage.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Every new journey starts with the completion of the former</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeCompletePassageModalButton">Close</button>
              <button type="button" (click)="completePassage()"  class="btn btn-primary">Complete</button>
            </div>
          </div>
        </div>
      </div>
      <button [hidden]="true" type="button" id="openCompletePassageModal" data-toggle="modal" data-target="#completePassageModal">
      </button>

      <!--     Post Passage Modal-->
      <div *ngIf="isPassageModalSelected" class="modal fade bd-example-modal-lg mt-5" tabindex="-1" role="dialog" aria-labelledby=""
           aria-hidden="true" id="passageModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="postModalLongTitle">
                Post Passage
              </h5>
              <button id="application-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col">
                <div class="row">
                  <div class="col mb-3">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title font-weight-bold">Post Passage</h6>
                        <div class="tab-content pt-3">
                          <div class="tab-pane active">
                            <form #passageForm="ngForm" (ngSubmit)="onPostPassage(passageForm)">
                              <div class="row">
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" name="title" required class="form-control"
                                               ngModel>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" name="description" required class="form-control"
                                               [(ngModel)]="passage.description">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Departure Date</label>
                                        <input type="text" name="departureDate" required class="form-control"
                                               [(ngModel)]="passage.departureDate">
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Departure Location</label>
                                        <input type="text" name="departureLocation" required class="form-control"
                                               [(ngModel)]="passage.departureLocation">
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Expenses</label>
                                        <input type="text" name="expenses" required class="form-control"
                                               [(ngModel)]="passage.expenses">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Expectations</label>
                                        <input type="text" name="expectations" required class="form-control"
                                               [(ngModel)]="passage.expectations">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Destination</label>
                                        <input type="text" name="destination" required class="form-control"
                                               [(ngModel)]="passage.destination">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- The visible "Post" button that triggers form submission -->
                              <div class="text-right">
                                <p *ngIf="exceedActivePosts" class="mb-1 badge badge-danger">Only one active post is allowed, close any open passages</p>
                                <button type="submit" class="btn btn-primary">Post</button>
                              </div>
                            </form>
                            <br>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--     Applications Modal-->
      <div *ngIf="isApplicationModalSelected" class="tab-pane fade" id="applications">
        <div class="container">
          <div class="row flex-lg-nowrap">
            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title font-weight-bold">Applications</h6>
                      <div class="tab-content pt-3">
                        <div class="tab-pane active">
                          <table class="table table-hover">
                            <thead class="table-borderless">
                            <tr class="text-center">
                              <th>Applicant username</th>
                              <th>Communication</th>
                              <th>Certifications</th>
                              <th>Experience</th>
                              <th>Availability</th>
                              <!--                              <th>Status</th>-->
                              <th>Actions</th>
                            </tr>
                            </thead>
                            <!--Loop through all the passages-->
                            <tbody *ngFor="let Application of allPassageApps">
                            <tr class="text-center">
                              <td (click)="onSelectApplication(Application)">{{Application?.applicantName}}</td>
                              <td (click)="onSelectApplication(Application)">{{Application?.communication}}</td>
                              <td (click)="onSelectApplication(Application)">{{Application?.certifications}}</td>
                              <td (click)="onSelectApplication(Application)">{{Application?.experience}}</td>
                              <td (click)="onSelectApplication(Application)">{{Application?.availableTime}}</td>
                              <!--                              <td >-->
                              <!--                                <span [hidden]="!selectedApplication?.user.active" class="badge badge-success">Active</span>-->
                              <!--                                <span [hidden]="selectedApplication?.user.active" class="badge badge-danger">Inactive</span>-->
                              <!--                              </td>-->
                              <td class="">
                                <div class="btn-group button-container">
                                  <button class="btn btn-outline-info post-yarn-button" data-toggle="modal" data-target="#yarnModal">
                                    <i class="fas fa-pencil-alt"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button [hidden]="true" type="button" id="openApplicationModal" data-toggle="modal" data-target="#applicationModal">
      </button>

      <!-- modal application message -->
      <div class="modal draggable fade bd-example-modal-lg" id="applicationMessageModal" tabindex="-1"
           role="dialog" aria-labelledby="applicationMessageModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="card-body custom-card-body">
              <h5 class="modal-title text-center card-title">Applicant's Message</h5>
              <div class="message-container">
                    <div class="message-content">{{ passageApp?.message }}</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeApplicationMessageModalButton">Close</button>
            </div>
          </div>
        </div>
      </div>
      <button [hidden]="true" type="button" id="openApplicationMessageModal" data-toggle="modal" data-target="#applicationMessageModal">
      </button>

    </section>
    <div class="row">
      <div class="col-lg-6">
        <section id="yarns-section">
          <div class="mb-2 text-center"><h4><b>Yarn Wall</b></h4></div>
          <div class="mb-3 text-center">
            <div id="scroll-div" (scroll)="onScroll()" class="btn-group mr-2">
              <ul class="message-list">
                <!-- Apply the reverse pipe to the yarnMessages array in the *ngFor loop -->
                <div *ngFor="let message of yarnMessages.reverse()">
                  <li class="message-item">
                    <div class="message-header">
                      <h5 class="sender">{{ message.sender }}</h5>
                      <span class="timestamp">{{ message.timestamp }}</span>
                    </div>
                    <div class="message-content">
                      <p class="content">{{ message.message }}</p>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
          <!-- Yarn Post Modal -->
          <div class="modal fade" id="yarnModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="yarnModalLabel">Write a Post</h5>
                  <button id="yarn-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <form #newYarnForm="ngForm" (ngSubmit)="sendYarn(newYarnForm)">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="yarnSender">Sender:</label>
                          <input type="text" class="form-control" id="yarnSender" name="yarnSender" [(ngModel)]="user.username" disabled>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="yarnRecipient">Recipient' Username:</label>
                          <input type="text" class="form-control" id="yarnRecipient" name="yarnRecipient" [(ngModel)]="recipient">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="yarnMessage">Message:</label>
                        <input type="text" class="form-control" id="yarnMessage" name="yarnMessage" [(ngModel)]="yarn">
                      </div>
                      <!-- The visible "Post" button that triggers form submission -->
                      <div class="text-right">
                        <button type="submit" class="btn btn-primary">Post</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section  id="users-section">
          <div class="mb-2 text-center"><h4><b>Users</b></h4></div>
          <div class="mb-3 text-center">
            <div class="btn-group mr-2">
              <form class="form-inline my-2 my-lg-0 justify-content-center">
                <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                       (ngModelChange)="searchUsers(searchInput.value)" type="search" placeholder="Filter users...">
              </form>
            </div>
            <div class="btn-group">
              <button type="button" (click)="getUsers(true)" class="btn btn-info">
                <!--            if refreshing is true, false show if not -->
                <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing" class="fas fa-sync"> Get Users</i>
              </button>
            </div>
          </div>
          <!-- user content -->
          <div class="tab-content mt-3" id="myTabContent">
            <!-- user table -->
            <div class="tab-pane fade show active" id="users">
              <table class="table table-hover">
                <thead class="table-borderless">
                <tr class="text-center">
                  <th>Photo</th>
                  <th>Username</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <!--Loop through all the users-->
                <tbody *ngFor="let appUser of users">
                <tr class="text-center">
                  <td (click)="onSelectUser(appUser)">
                    <!--? after appuser to check if it exists before accessing the object-->
                    <img height="40" width="40" src="{{appUser?.profileImageUrl}}" class="rounded-circle img-fluid img-thumbnail" alt=""/>
                  </td>
                  <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
                  <td (click)="onSelectUser(appUser)">{{appUser?.firstName + ' ' + appUser?.lastName}}</td>
                  <td >
                    <span [hidden]="!appUser?.active" class="badge badge-success">Active</span>
                    <span [hidden]="appUser?.active" class="badge badge-danger">Inactive</span>
                  </td>
                  <td class="">
                    <div class="btn-group button-container">
                      <button class="btn btn-outline-info post-yarn-button" data-toggle="modal" data-target="#yarnModal">
                        <i class="fas fa-pencil-alt"></i>
                        <span class="post-yarn-text">Post Yarn</span>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <button [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal">
            </button>
          </div>
          <!--          User info Modal-->
          <!-- modal user info // ID and data-target need to match -->
          <div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby=""
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLongTitle">{{selectedUser?.firstName}}
                    {{selectedUser?.lastName}}
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-sm-auto">
                            <div class="mx-auto" style="width: 120px;">
                              <div class="d-flex justify-content-center align-items-center rounded">
                                <img class="rounded" height="120" width="120" src="{{selectedUser?.profileImageUrl}}" alt="{{selectedUser?.firstName}}">
                              </div>
                            </div>
                          </div>
                          <div class="col d-flex flex-column flex-sm-row justify-content-between">
                            <div class="text-center text-sm-left mb-sm-0">
                              <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedUser?.firstName}}
                                {{selectedUser?.lastName}}</h6>
                              <p class="mb-1">{{selectedUser?.username}}</p>
                              <div class="">Status:
                                <span [hidden]="!selectedUser?.active" class="badge badge-success">Active</span>
                                <span [hidden]="selectedUser?.active" class="badge badge-danger">Inactive</span>
                              </div>
                              <div *ngIf="selectedUser?.lastLoginDateDisplay" class="text-muted"><small>Last Login: {{selectedUser?.lastLoginDateDisplay | date: 'medium'}}</small>
                              </div>
                            </div>
                            <div class="text-center text-sm-right">
                              <div class="text-muted"><small>Joined {{selectedUser?.joinDate | date: 'mediumDate'}}</small></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{selectedUser?.email}}
                        </li>
                        <li *ngIf="selectedUser?.lastLoginDateDisplay" class="list-group-item"><i
                          class="fas fa-sign-in-alt float-right"></i>{{selectedUser?.lastLoginDateDisplay | date: 'medium'}}
                        </li>
                      </ul>
                      <div class="card-body custom-card-body">
                        <h5 class="modal-title text-center card-title">{{ selectedUser?.username }}'s Yarn Wall</h5>
                        <div class="message-container">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item message-item" *ngFor="let message of reversedYarnMessages">
                              <span class="font-weight-bold message-timestamp">{{ message.timestamp }}</span>
                              <div class="message-sender">{{ message.sender }}</div>
                              <div class="message-content">{{ message.message }}</div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <!--===== FOOTER =====-->
  <footer class="footer">
    <p class="footer__title">Trident Chartering Services
    </p>
    <div class="footer__social">
      <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
      <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
      <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
    </div>
    <p class="footer__copy">&#169; Trident Solutions. All rigths reserved</p>
  </footer>

  <!-- profile image change form -->
  <form enctype="multipart/form-data" style="display:none;">
    <input type="file"
           (change)="handlerFileInput($any($event).target.files); onUpdateProfileImage()"
           name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*">
  </form>

  <form enctype="multipart/form-data" style="display:none;">
    <input type="file"
           (change)="handlerYachtFileInput($any($event).target.files); onUpdateYachtImage()"
           name="yacht-image-input" id="yacht-image-input" placeholder="file" accept="image/*">
  </form>

</div>
</html>
