/*===== CLASS CSS ===== */
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400%3B600%3B700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);


  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;

  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* ===== Yacht =====*/
.yacht__container {
  row-gap: 2rem;
  text-align: center;
}

.yacht__subtitle {
  margin-bottom: var(--mb-2);
}

.yacht__text {
  margin-bottom: var(--mb-4);
}

.yacht__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.yacht__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.yacht__names {
  display: flex;
  align-items: center;
}

.yacht__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.yacht__img {
  border-radius: .5rem;
}

.btn-register {
  color: white;
  background-color: #D35400; /* Burnt orange */
  border-color: #D35400;
}

.btn-yacht-register {
  color: white;
  background-color: #C45E76; /* Burnt pink */
  border-color: #C45E76;
}

#yarns-section {
  padding-top: 1rem;
  border: 1px solid #ccc; /* Add border around the users section */
  max-height: 500px; /* Set the maximum height for the inner window scroll */
  overflow-y: auto; /* Enable vertical scrolling */
}

#users-section {
  padding-top: 1rem;
  border: 1px solid #ccc; /* Add border around the users section */
  max-height: 500px; /* Set the maximum height for the inner window scroll */
  overflow-y: auto; /* Enable vertical scrolling */
}

.message-item {
  padding: 10px 0; /* Add padding above and below each message */
  border-bottom: 1px solid #ccc; /* Add a border below each message for separation */
}

.sender {
  color: #007bff; /* Change the font color of the sender's name to blue */
  font-weight: bold; /* Make the sender's name bold for emphasis */
}

.message-content {
  margin-top: 5px; /* Add margin to separate the sender's name and the message */
}

.message-container {
  max-height: 300px; /* Set a fixed height for the container */
  overflow-y: auto; /* Enable vertical scrolling when messages exceed container height */
}
/* Add specific class for the button */
.button-container .post-yarn-button {
  position: relative;
}

/* Initially hide the "Post Yarn" text */
.button-container .post-yarn-text {
  position: absolute;
  top: -70px; /* Adjust the vertical position to move the text higher */
  left: 50%;
  transform: translateX(-50%); /* Center the text horizontally */
  opacity: 0; /* Start with opacity 0 (invisible) */
  pointer-events: none; /* Allow clicks to pass through the text */
  background-color: #333; /* Background color for the text */
  color: #fff; /* Text color */
  padding: 5px 10px; /* Add padding to the text */
  border-radius: 4px; /* Add some border-radius for a rounded look */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* When hovering over the button, show the "Post Yarn" text */
.button-container .post-yarn-button:hover .post-yarn-text {
  opacity: 1; /* Set opacity to 1 (visible) on hover */
}

.custom-card-body {
  padding: 20px; /* Add some padding around the content */
}

.card-title {
  font-size: 24px; /* Increase the font size for the card title */
  margin-bottom: 15px; /* Add some spacing below the card title */
  text-decoration: underline; /* Add an underline to the card title */
}

.message-container {
  margin-top: 15px; /* Add some spacing between the card title and the message list */
}

.message-item {
  padding: 10px; /* Add padding around each message item */
  border: 1px solid #ccc; /* Add a border around each message item */
  border-radius: 5px; /* Round the corners of the message items */
  margin-bottom: 10px; /* Add some spacing between message items */
}

.message-timestamp {
  display: block; /* Make the timestamp a block element to appear on top */
  font-size: 12px; /* Decrease the font size for the timestamp */
}

.message-sender {
  font-weight: bold; /* Make the sender name bold */
  margin-bottom: 5px; /* Add some spacing below the sender name */
}

.message-content {
  font-size: 14px; /* Adjust the font size for the message content */
}


/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  /*color: #fff;*/
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  /*color: #fff;*/
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 600px;
    height: auto;
    padding-right: 2rem;
  }

  .second_about_img {
    justify-self: center;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 1rem 0 5rem;
  }
  .home__img {
    width: 450px;
  }
}
