<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="passages.component.css">
  <!-- =====BOX ICONS===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Trident Chartering Services</h5>
      <small *ngIf="titleAction$ | async as title">{{ title }}</small>
    </div>

  </div>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link  ml-1"  href="/captain">
          <i class="fa fa-user-plus"></i>
          Captain's Anchorage
        </a>
        <a class="nav-item nav-link move-right mr-3" data-toggle="tab" href="#profile" (click)="redirectToLogin()">
          Welcome, {{ user?.firstName || 'Guest' }}
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>
  <main class="l-main">
    <!--===== HOME =====-->
    <section class="home bd-grid" id="home">
      <div class="row ">
        <ng-container *ngFor="let passage of passages">
          <div class="col-md-4 mb-4">
            <!-- Added 'mb-4' class to add margin-bottom -->
            <div class="card text-center" style="width: 18rem;">
              <img [src]="passage.imageUrl" class="card-img-top" alt="Random Sailing Image">
              <div class="card-body">
                <h5 (click)="onSelectPassage(passage)" class="card-title">{{ passage?.title }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li (click)="onSelectPassage(passage)" class="list-group-item">Departure: {{ passage?.departureDate }}</li>
                <li (click)="onSelectPassage(passage)" class="list-group-item">Destination: {{ passage?.destination }}</li>
                <!-- Add more properties from the passage object as needed -->
              </ul>
              <div class="card-body">
                <a (click)="onSelectPassage(passage)" class="btn btn-primary">More Details</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!--   Passage Modal   -->
      <div class="modal fade bd-example-modal-lg" id="viewPassageModal" tabindex="-1" role="dialog" aria-labelledby=""
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle">
                {{selectedPassage?.title}}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-sm-auto">
                        <div class="mx-auto" style="width: 120px;">
                          <div class="d-flex justify-content-center align-items-center rounded">
                            <img [src]="selectedPassage?.imageUrl" class="rounded" height="120" width="120" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between">
                        <div class="text-center text-sm-left mb-sm-0">
                          <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap"></h6>
                          <p class="mb-1"></p>
                          <div class="">Status:
                            <span [hidden]="!selectedPassage?.active" class="badge badge-success">Active</span>
                            <span [hidden]="selectedPassage?.active" class="badge badge-danger">Inactive</span>
                          </div>
                           <div *ngIf="selectedPassage?.timestamp" class="text-muted"><small>Created: {{selectedPassage?.timestamp | date: 'medium'}}</small></div>
                          </div>
                        </div>
                      <div class="card-body">
                        <p class="card-text">{{ selectedPassage?.description }}</p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Launch Date:  {{selectedPassage?.departureDate}}</li>
                    <li class="list-group-item">Departure Port:  {{selectedPassage?.departureLocation}}</li>
                    <li class="list-group-item">Destination: {{selectedPassage?.destination}}</li>
                    <li class="list-group-item">Expectations: {{selectedPassage?.expectations}}</li>
                    <li class="list-group-item">Expenses: {{selectedPassage?.expenses}}</li>
                    <!-- Add more properties from the passage object as needed -->
                  </ul>
                  <div class="card-body">
                    <a class="btn btn-primary" (click)="onOpenApplicationModal()" >Application</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      <button [hidden]="true" type="button" id="openPassageInfo" data-toggle="modal" data-target="#viewPassageModal">
      </button>
      <!-- Application Process -->
      <div *ngIf="isApplicationModalSelected" class="modal fade bd-example-modal-lg mt-5" id="viewApplicationModal" tabindex="-1" role="dialog" aria-labelledby=""
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="applicaitonModalLongTitle">
                Application
              </h5>
              <button id="application-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <form #applicationForm="ngForm" (ngSubmit)="applyPassage(applicationForm)" >
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="communication">Communication:</label>
                      <input type="text" class="form-control" id="communication" name="communication" [(ngModel)]="passageApp.communication">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="certifications">Certifications:</label>
                      <input type="text" class="form-control" id="certifications" name="certifications" [(ngModel)]="passageApp.certifications">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="experience">Experience:</label>
                      <input type="text" class="form-control" id="experience" name="experience" [(ngModel)]="passageApp.experience">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="availableTime">When are you available?:</label>
                      <input type="text" class="form-control" id="availableTime" name="availableTime" [(ngModel)]="passageApp.availableTime">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" [(ngModel)]="passageApp.message"></textarea>
                  </div>
                  <!-- The visible "Post" button that triggers form submission -->
                  <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <button [hidden]="true" type="button" id="openApplicationModal" data-toggle="modal" data-target="#viewApplicationModal">
      </button>
    </section>
  </main>

  <!--===== FOOTER =====-->
  <footer class="footer">
    <p class="footer__title">Trident Chartering Services
    </p>
    <div class="footer__social">
      <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
      <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
      <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
    </div>
    <p class="footer__copy">&#169; Trident Solutions. All rigths reserved</p>
  </footer>

</div>

