<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="frontpage.component.css">
  <!-- =====BOX ICONS===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>
<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Trident Chartering Services</h5>
      <small *ngIf="titleAction$ | async as title">{{ title }}</small>
    </div>

  </div>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link  ml-1"  href="/captain">
          <i class="fa fa-user-plus"></i>
          Captain's Anchorage
        </a>
        <a class="nav-item nav-link  ml-1"  href="/passages">
          <i class="fa fa-ship"></i>
          Passages
        </a>
        <a class="nav-item nav-link move-right mr-3" data-toggle="tab" href="#profile" (click)="redirectToLogin()">
          Welcome, {{ user?.firstName || 'Guest' }}
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>
<main class="l-main">
  <div class="modal-body">
    <div id="helpdesk">
      <button id="helpdesk-popup-button" (click)="openSupportPopup()">
        Need Help?
      </button>
      <div id="helpdesk-popup" [style.display]="isOpen ? 'block' : 'none'">
        <div id="helpdesk-popup-header">
          AI Agent
          <button id="helpdesk-popup-close-button" (click)="openSupportPopup()">
            Close
          </button>
        </div>
        <div id="helpdesk-popup-body">
          <div class="messages" #scrollMe>
            <div *ngFor="let message of messages" class="message">
              <div [class]="message.type">
                {{ message.message }}
              </div>
            </div>
            <div
              *ngIf="loading"
              class="message"
              style="width: 100%; display: block"
            >
              <div [class]="'client'">...</div>
            </div>
          </div>
        </div>
        <form id="helpdesk-popup-footer" [formGroup]="chatForm">
          <input
            formControlName="message"
            type="text"
            id="helpdesk-popup-input"
            placeholder="Type your message here..."
          />
          <button
            id="helpdesk-popup-submit-button"
            [disabled]="!chatForm.valid"
            (click)="sendMessage()"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
  <!--===== HOME =====-->
  <section class="home bd-grid" id="home">
    <div class="home__data">
      <h1 class="home__title">Connecting the world<br>One<span class="home__title-color"> crew member</span><br>At a time!</h1>
    </div>
    <div class="home__img">
    </div>
  </section>
  <!--===== Yacht Listing =====-->
  <section class="yacht section" id="yachts">
    <div class="yacht__container bd-grid">
      <div class="mb-3 float-right">
        <div class="btn-group mr-2">
          <form class="form-inline my-2 my-lg-0 justify-content-center">
            <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                   (ngModelChange)="searchYachts(searchInput.value)" type="search" placeholder="Search yachts...">
          </form>
        </div>
        <div class="btn-group">
          <button type="button" (click)="getYachts(true)" class="btn btn-info">
            <!--            if refreshing is true, false show if not -->
            <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing" class="fas fa-sync"></i>
          </button>
        </div>
      </div>
      <div>
        <h2 class="yacht__subtitle">Available Yachts</h2>
        <p class="yacht__text"></p>
        <div class="yacht__data">
          <table class="table table-hover">
            <thead class="table-borderless">
            <tr class="text-center">
              <th>Photo</th>
              <th>Name</th>
              <th>Port</th>
              <th>Model</th>
              <th>Available Cabins</th>
            </tr>
            </thead>
            <!--Loop through all the users-->
            <tbody *ngFor="let appYacht of yachts">
            <tr class="text-center">
              <td (click)="onSelectYacht(appYacht)">
                <!--? after appyacht to check if it exists before accessing the object-->
                <img height="40" width="40" src="{{appYacht?.yachtImageUrl}}" class="rounded-circle img-fluid img-thumbnail" alt=""/>
              </td>
              <td (click)="onSelectYacht(appYacht)">{{appYacht.name}}</td>
              <td (click)="onSelectYacht(appYacht)">{{appYacht.port}}</td>
              <td (click)="onSelectYacht(appYacht)">{{appYacht.model}}</td>
              <td (click)="onSelectYacht(appYacht)">{{appYacht.availableCabins}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button [hidden]="true" type="button" id="openYachtInfo" data-toggle="modal" data-target="#viewYachtModal">
    </button>
    <!--    Yacht Modal-->
    <!-- modal user info // ID and data-target need to match -->
    <div class="modal fade bd-example-modal-lg" id="viewYachtModal" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLongTitle">
              {{selectedYacht?.name}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-auto">
                      <div class="mx-auto" style="width: 120px;">
                        <div class="d-flex justify-content-center align-items-center rounded">
                          <img class="rounded" height="120" width="120" src="{{selectedYacht?.yachtImageUrl}}" alt="{{selectedYacht?.name}}">
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between">
                      <div class="text-center text-sm-left mb-sm-0">
                        <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedYacht?.name}}</h6>
                        <p class="mb-1">{{selectedYacht?.name}}</p>
                      </div>
                      <div class="text-center text-sm-right">
                        <div class="text-muted"><small>Available Date</small></div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"></li>
                  <li class="list-group-item"><i class="fa fa-id-badge float-right"></i>{{selectedYacht?.mmsi}}
                  </li>
                  <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{selectedYacht?.make}}
                  </li>
                  <li class="list-group-item"><i class="fas fa-shield-alt float-right"></i>{{selectedYacht?.model}}
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!--===== FOOTER =====-->
<footer class="footer">
  <p class="footer__title">Trident Chartering Services
  </p>
  <div class="footer__social">
    <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
    <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
  </div>
  <p class="footer__copy">&#169; Trident Solutions. All rigths reserved</p>
</footer>
</div>
</html>
